In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('play_tennis.csv')

In [5]:
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [19]:
df.drop(columns=['day'], inplace=True)

In [21]:
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [7]:
# Problem
# outlook=Sunny, Temp=hot, humidity=High, Wind=Weak

# Play or Not Play?

In [9]:
# Solution
# P(Yes/Sunny, hot, high, weak) = P(Sunny/Yes) * P(hot/Yes) * P(high/Yes) * P(weak/Yes) * P(Yes)

# P(No/Sunny, hot, high, weak) = P(Sunny/No) * P(hot/No) * P(high/No) * P(weak/No) * P(No)

In [11]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [13]:
py = 9/14
pn = 5/14

In [17]:
print('Probability of Yes: ', py)
print('Probability of No: ', pn)

Probability of Yes:  0.6428571428571429
Probability of No:  0.35714285714285715

In [25]:
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [27]:
POvercastYes = 4/9
PRainYes = 3/9
PSunnyYes = 2/9

POvercastNo = 0/5
PRainNo = 2/5
PSunnyNo = 3/5

In [29]:
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [31]:
PCoolYes = 3/9
PHotYes = 2/9
PMildYes = 4/9

PCoolNo = 1/5
PHotNo = 2/5
PMildNo = 2/5

In [35]:
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [37]:
PHighYes = 3/9
PNormalYes = 6/9

PHighNo = 4/5
PNormalNo = 1/5

In [39]:
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [41]:
PStrongYes = 3/9
PWeakYes = 6/9

PStrongNo = 3/5
PWeakNo = 2/5

In [43]:
# P(Yes/Sunny, hot, high, weak) = P(Sunny/Yes) * P(hot/Yes) * P(high/Yes) * P(weak/Yes) * P(Yes)

# P(No/Sunny, hot, high, weak) = P(Sunny/No) * P(hot/No) * P(high/No) * P(weak/No) * P(No)

In [45]:
YesProb = PSunnyYes * PHotYes * PHighYes * PWeakYes * py
NoProb = PSunnyNo * PHotNo * PHighNo * PWeakNo * pn

In [47]:
print("Probability of Yes: ", YesProb)
print("Probability of No: ", NoProb)

Probability of Yes:  0.007054673721340387
Probability of No:  0.02742857142857143

In [49]:
if YesProb > NoProb:
    print("Match Will be played.")
else:
    print("Match Willn't be played.")

Match Willn't be played.