In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('Fraud_Detection_Dataset.csv', usecols=['User_ID','Transaction_Amount','Time_of_Transaction','Previous_Fraudulent_Transactions','Account_Age','Number_of_Transactions_Last_24H','Fraudulent'])

In [9]:
df.head()

,User_ID,Transaction_Amount,Time_of_Transaction,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Fraudulent
0,4174,1292.76,16.0,0,119,13,0
1,4507,1554.58,13.0,4,79,3,0
2,1860,2395.02,NaN,3,115,9,0
3,2294,100.10,15.0,4,3,4,0
4,2130,1490.50,19.0,2,57,7,0

In [13]:
df['Fraudulent'].value_counts()[1]

2510

In [15]:
len(df['Fraudulent'])

51000

In [17]:
df.shape

(51000, 7)

In [33]:
one_prob = len(df[df['Fraudulent'] == 1]) / df.shape[0]
print(one_prob)

0.049215686274509805

In [35]:
zero_prob = len(df[df['Fraudulent'] == 0]) / df.shape[0]
print(zero_prob)

0.9507843137254902

In [41]:
entropy = (- (one_prob * np.log2(one_prob)) - (zero_prob * np.log2(zero_prob)))
print(entropy)

0.28305586081966194