In [3]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [5]:
df = pd.read_csv('train.csv', usecols=['GarageQual','FireplaceQu', 'SalePrice'])

In [7]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [13]:
df.isnull().mean() * 100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [15]:
df['FireplaceQu'].value_counts()

FireplaceQu
Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: count, dtype: int64

In [17]:
df['FireplaceQu'].mode()

0    Gd
Name: FireplaceQu, dtype: object

In [22]:
df['FireplaceQu'].fillna('Gd', inplace=True)

In [24]:
df['FireplaceQu'].value_counts()

FireplaceQu
Gd    1070
TA     313
Fa      33
Ex      24
Po      20
Name: count, dtype: int64

In [26]:
df['GarageQual'].value_counts()

GarageQual
TA    1311
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [28]:
df['GarageQual'].mode()

0    TA
Name: GarageQual, dtype: object

In [30]:
df['GarageQual'].fillna('TA', inplace=True)

C:\Users\yasir\AppData\Local\Temp\ipykernel_1816\1818999247.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['GarageQual'].fillna('TA', inplace=True)

In [32]:
df['GarageQual'].value_counts()

GarageQual
TA    1392
Fa      48
Gd      14
Ex       3
Po       3
Name: count, dtype: int64

In [38]:
df['GarageQual'].isnull().mean() * 100

0.0

# Scikit-Learn method

In [41]:
X = df.drop(columns=['SalePrice'])
Y = df['SalePrice']

In [43]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

X_train.shape, X_test.shape

((1168, 2), (292, 2))

In [45]:
imputer1 = SimpleImputer(strategy='constant', fill_value='Gd')
imputer2 = SimpleImputer(strategy='constant', fill_value='TA')

In [ ]:
trf = ColumnTransformer([
    ('imputer1', imputer1, ['FireplaceQu']),
    ('imputer2', imputer2, ['GarageQual'])
], remainder='passthrough')