In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer, SimpleImputer
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('titanic.csv', usecols=['Age','Pclass','Fare','Survived'])

In [5]:
df.head()

   Survived  Pclass   Age     Fare
0         0       3  22.0   7.2500
1         1       1  38.0  71.2833
2         1       3  26.0   7.9250
3         1       1  35.0  53.1000
4         0       3  35.0   8.0500

In [7]:
df.isnull().mean() * 100

Survived     0.00000
Pclass       0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [9]:
X = df.drop(columns=['Survived'])
Y = df['Survived']

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, random_state=2, test_size=0.2)

X_train.shape, X_test.shape

((712, 3), (179, 3))

In [13]:
X_train.head()

     Pclass   Age     Fare
30        1  40.0  27.7208
10        3   4.0  16.7000
873       3  47.0   9.0000
182       3   9.0  31.3875
876       3  20.0   9.8458

In [23]:
knn = KNNImputer(n_neighbors=3, weights='distance')

X_train_trf = knn.fit_transform(X_train)
X_test_trf = knn.transform(X_test)

In [25]:
pd.DataFrame(X_train_trf, columns=X_train.columns)

     Pclass        Age      Fare
0       1.0  40.000000   27.7208
1       3.0   4.000000   16.7000
2       3.0  47.000000    9.0000
3       3.0   9.000000   31.3875
4       3.0  20.000000    9.8458
..      ...        ...       ...
707     3.0  30.000000    8.6625
708     3.0  26.151292    8.7125
709     1.0  71.000000   49.5042
710     1.0  32.666667  221.7792
711     1.0  49.762895   25.9250

[712 rows x 3 columns]

In [27]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
lr.fit(X_train_trf, y_train)
y_pred = lr.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.7150837988826816

In [49]:
si = SimpleImputer()

X_train_trf2 = si.fit_transform(X_train)
X_test_trf2 = si.transform(X_test)

In [51]:
lr = LogisticRegression()
lr.fit(X_train_trf2, y_train)
y_pred2 = lr.predict(X_test_trf2)
accuracy_score(y_test, y_pred2)

0.6927374301675978

# Practice

In [92]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.impute import KNNImputer, SimpleImputer

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [78]:
data = pd.read_csv('data_science_job.csv', usecols=['city_development_index','training_hours','target'])

In [80]:
data.head(2)

   city_development_index  training_hours  target
0                   0.920            36.0     1.0
1                   0.776            47.0     0.0

In [82]:
data.isnull().mean() * 100

city_development_index    2.500261
training_hours            3.998330
target                    0.000000
dtype: float64

In [84]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns=['target']), data['target'], random_state=2, test_size=0.2)

X_train.shape, X_test.shape

((15326, 2), (3832, 2))

In [86]:
X_train.head()

      city_development_index  training_hours
7869                   0.624           134.0
2884                   0.920            58.0
7207                   0.920           206.0
3807                   0.624            28.0
1861                   0.624            35.0

In [88]:
si = SimpleImputer()
X_train_trf = si.fit_transform(X_train)
X_test_trf = si.transform(X_test)

In [96]:
lg = LogisticRegression()

lg.fit(X_train_trf, y_train)
y_pred = lg.predict(X_test_trf)
accuracy_score(y_test, y_pred)

0.7599164926931107

In [191]:
for i in range(1,5):
    knn = KNNImputer(n_neighbors = i, weights='distance')
    X_train_trf2 = knn.fit_transform(X_train)
    X_test_trf2 = knn.transform(X_test)

    MyClassifier()

0.7518267223382046
0.7520876826722338
0.7526096033402923
0.7546972860125261
0.7560020876826722
0.7567849686847599
0.7562630480167014
0.7562630480167014
0.7560020876826722
0.755741127348643
0.755741127348643
0.755741127348643
0.755741127348643
0.755741127348643
0.7560020876826722
0.7560020876826722
0.7560020876826722
0.7560020876826722
0.7560020876826722

In [183]:
def MyClassifier():
    lg = LogisticRegression()
    lg.fit(X_train_trf2, y_train)
    y_pred2 = lg.predict(X_test_trf2)
    print(accuracy_score(y_test, y_pred2))

# Practice2

In [ ]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression