# Lab Task 1

In [43]:
def f(x):
    result = (4*(x**3)) + (5*(x**2)) + (3*x) + 2
    return result

In [45]:
for i in range(1,6):
    print(f"x={i}: {f(i)}")

x=1: 14
x=2: 60
x=3: 164
x=4: 350
x=5: 642

In [47]:
def g(x):
    result = ((3 * (x**2) + (7*x)) / 2) - ((2*x) / 5)
    return result

In [49]:
for i in range(1,6):
    print(f"x={i}: {g(i)}")

x=1: 4.6
x=2: 12.2
x=3: 22.8
x=4: 36.4
x=5: 53.0

# Lab Task 2

In [66]:
def check_multiple(x, y):
    if x % y == 0:
        print(f"{x} is the multiple of {y}")
    else:
        print(f"{x} isn't the multiple of {y}")

In [70]:
var1 = int(input("Enter your first integer value: "))
var2 = int(input("Enter you second integer value: "))

check_multiple(var1, var2)

Enter your first integer value:  12
Enter you second integer value:  3

12 is the multiple of 3

# Lab Task 3

In [97]:
def compare_numbers():
    var1 = int(input("Enter the first number: "))
    var2 = int(input("Enter the second number: "))

    if var1 == var2:
        print(f"{var1} is equal to {var2}")
    elif var1 > var2:
        print("Both numbers aren't equal")
        print("{} is greater than {}".format(var1, var2))
    else:
        print("Both numbers aren't equal")
        print("{} is greater than {}".format(var2, var1))

In [99]:
compare_numbers()

Enter the first number:  5
Enter the second number:  6

Both numbers aren't equal
6 is greater than 5

# Lab Task 4

In [122]:
def comparison():
    num1 = int(input("Enter the first number: "))
    num2 = int(input("Enter the second number: "))

    if num1 > 0 and num2 > 0:
        print("Both numbers are positive")
    elif num1 < 0 and num2 <0:
        print("Both numbers are negative")
    elif num1 == 0 and num2 ==0:
        print("Both numbers are zero")
    elif num1 == 0 or num2 == 0:
        print("At least one number is zero")
    elif num1 > 0 and num2 < 0:
        print("One number is positive, and the other is negative")
    elif num1 < 0 and num2 > 0:
        print("One number is positive, and the other is negative")

In [124]:
comparison()

Enter the first number:  -9
Enter the second number:  9

One number is positive, and the other is negative

# Lab Task 5

In [147]:
def fact(number):
    result =  1
    while(number>0):
        result = result * number
        number-=1
    return result

In [155]:
print("Factorial of 5 is: ", fact(6))

Factorial of 5 is:  720

# Lab Task 6

In [158]:
def product_with_loop(num1, num2):
    prod = 0
    for i in range(num2):
        prod += num1
    return prod

In [168]:
val1, val2 = 5,4
print(f"Product of {val1} and {val2} is: {product_with_loop(val1,val2)}")

Product of 5 and 4 is: 20

# Lab Task 7

In [175]:
def count_characters(str1, str2, str3):
    concatenated = str1+str2+str3
    for ch in concatenated:
        print(ch)
    print("The total number of characters are: ", len(concatenated))

In [181]:
str1 = input("Enter first string: ")
str2 = input("Enter second string: ")
str3 = input("Enter third string: ")

count_characters(str1, str2, str3)

Enter first string:  Go
Enter second string:  To
Enter third string:  Hell

G
o
T
o
H
e
l
l
The total number of characters are:  8

# Lab Task 8

In [261]:
counter=21
for i in range(1,11):
    for j in range(i, counter, i):
        print(j, end=', ')
        
    counter+=20
    print()

1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40,
3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60,
4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80,
5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100,
6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96, 102, 108, 114, 120,
7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98, 105, 112, 119, 126, 133, 140,
8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120, 128, 136, 144, 152, 160,
9, 18, 27, 36, 45, 54, 63, 72, 81, 90, 99, 108, 117, 126, 135, 144, 153, 162, 171, 180,
10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200,